<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">跑 ／ 過</h1>
       <p class="slogan">記錄奔跑時刻與你路過的點滴印記
         <br>
         急速解決您的跑步日記憂慮
         <br>
         極簡流程訂製您的專屬跑記
       </p>
       <p class="lead">
         <%= link_to '開始訂製', products_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">不論在跑道、街道還是馬拉松賽場</h2>
          <p class="lead">路過的人與事總有值得記錄回憶的點滴</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">屬於每位跑者的私人空間</h2>
          <p class="lead">致力打造最優質快捷的跑記服務</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">結識跑友組織聯盟</h2>
          <p class="lead">讓前行之路不再孤獨</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
