<div class="panel panel-info" style="margin-top: 20px;">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= @pp1.date %>
  </div>
  <div class="panel-body">

      <div class="col-8 col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading"><%= @pp1.date %>跑步日记</div>
          <div class="panel-body">
            <p>

              <%= simple_format(@pp1a.content) %>

             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
