<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">Copyright ©2017 跑过
        <br>Design by
        <a class="footer-website" href="http://nathanye.logdown.com/" target=_new>Nathanye</a>
        &
        <a class="footer-website" href="http://johnquicker-blog.logdown.com/" target=_new>JohnQuicker</a>
    </p>
  </div>
</footer>
