<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">Copyright ©2017 跑过
        <br>Design by <a href="http://johnquicker-blog.logdown.com/" target=_new>John Quicker</a> & <a href="http://liwenxuan-blog.logdown.com/" target=_new>Cococardry</a> & <a href="http://nathanye.logdown.com/" target=_new>Nathanye</a>
    </p>
  </div>
</footer>
